
<div id="auth-wrap">
	<div class="loginBox">
		<p><label for="login-uname">UserName:</label><input type="text" id="login-uname"></p>
		<p><label for="login-upass">PassWord:</label><input type="text" id="login-upass"></p>
		<div><input type="button" value="login" id="login-go"></div>
	</div>
	<div class="signinBox">
		<p><label for="signin-uname">UserName:</label><input type="text" id="signin-uname"></p>
		<p><label for="signin-upass">PassWord:</label><input type="text" id="signin-upass"></p>
		<p><label for="signin-vpass">Verify Password:</label><input type="text" id="signin-vpass"></p>
		<p><label for="signin-email">Email:</label><input type="text" id="signin-email"></p>
		<div><input type="button" value="sigin" id="signin-go"></div>
	</div>
</div>