<script src="XHCon.js"></script>
<script> 
	(function() {
		
		var $$= function(select) {
			var ya = /^([#.])(.*)$/.exec(select);
			try {

				return ya ? ({
					"#": document.getElementById.call(document, ya[2]),
					".": document.getElementsByClassName.call(document, ya[2])
				}[ya[1]]) : null;
			} catch(e) {};
		};

		$$("#login-uname").focus();
		
		$$("#signin-go").onclick = function() {
			var xhrCon = new XHConn();
			// Get form data
			var obj = {
				name: $$("#signin-uname").value,
				pass: $$("#signin-upass").value,
				pass2: $$("#signin-vpass").value,
				email: $$("#signin-email").value
			};
			var p = params(obj);
			// Validate
			xhrCon.connect("/user/signin", "POST", p, function(rp) {
				var data = eval("(" + rp.responseText + ")");
				if(data.success == true) {
					// Sigin in success, login
					// Try to initApp() until it loaded up!
					var t = setInterval(function() {
						if(window.initApp) {
							clearInterval(t);
							window.initApp();
						}
					}, 500);
				} else {
					// Fail
					alert("Signin Fail!! \n" + data.error);
				}
			});
		}
		$$("#login-go").onclick = function() {
			var xhrCon = new XHConn();
			var obj = {
				name: $$("#login-uname").value,
				pass: $$("#login-upass").value
			};
			var p = params(obj);
			xhrCon.connect("/user/login", "POST", p, function(rp) {
				var data = eval("(" + rp.responseText + ")");
				if(data.success == true) {
					$$("#auth-wrap").innerHTML="";
					var t = setInterval(function() {
						if(window.initApp) {
							clearInterval(t);
							window.initApp();
						}
					}, 500);
				} else {
					// Fail
					alert("Login Fail!! \n" + data.error);
				}
			});
		}

		$$(".loginBox")[0].onkeydown = function(evt) {
			evt = evt || window.event;
			if(evt.keyCode === 13) {
				$$("#login-go").onclick();
			}
		}

		$$(".signinBox")[0].onkeydown = function(evt) {
			evt = evt || window.event;
			if(evt.keyCode === 13) {
				$$("#signin-go").onclick();
			}
		}

		function params(obj) {
			var i, r="";
			for(i in obj) {
				var v = obj[i];
				r = r + i + "=" + v + "&";
			}
			return r.replace(/&$/, "");
		}

	})()
 </script>